*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Solway', serif;
}

.content {
    display: table;
    width: 100%;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar
{
    background-image: linear-gradient(to right, crimson, #f04276);
    padding: 0 !important;
}

.navbar-brand
{
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 30px;
    border-style: solid;
    border-color: white;
    margin: 20px;
}

.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: white;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}


/* ------ BANNER ------*/
.banner
{
    background-image: url("images/gorillaz_banner.jpg");
    background-size: cover;
    color: #fff;
    padding-top: 0px;
    position: relative;
    height: 500px;
    width: 100%;
    font-family: 'Solway', serif;
}

.container
{
    width: 100%;
    display: inline-block;

}


.container::after,
.container::before {
    position: absolute;
    content: '';
    width: 170px;
    height: 170px;
    bottom: 0;
}

.container::before
{
    right:87%;
    top: 80%;
    z-index: 1;
    border: solid crimson;
    content: '';
}

.container::after
{
    left:14%;
    top: 105%;
    z-index: 1;
    border: solid crimson;
    content: '';
    width: 70px;
    height: 70px;
}

.text-about
{
    padding-top: 130px;
    margin-left: 400px;
    place-items: center;
    z-index: 2;
    width: 700px;
}

.promo-title
{
    font-size: 25px;
    font-weight: 600;
    margin-top: 0px;
}

.img-fluid
{
    border-radius: 0%;
    width: 400px;
}

.poza
{
    padding: 20px;
    float: right;
    margin-right: 100px;
    margin-top: 250px;
    border: solid white;
}

/* ------ ALBUME -------*/

#albume
{
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.container-albume {
    width:98%;
}

.titlu-albume
{
    color: white;
    background: crimson;
    text-align: center;
    align-self: center;
    width: 200px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 70px;
    margin-top: 50px;

}

.titlu-albume h1{
    color: white;
    font-family: 'Solway', serif;
}

.album
{
    width: 300px;
    transition: all .5s ease-in-out;
    align-self: center;
}


.container-1,
.container-2
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
    margin: 30px;

}

.box p {
    color: black;
}

.box p:hover {
    color: white;
}

.container-1 .box,
.container-2 .box
{
    position:relative;
    width: 30%;
    background: rgb(233, 232, 232);
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, .3);
    min-width: 400px;
    min-height: 600px;
}

.container-1 .box:hover,
.container-2 .box:hover
{
    box-shadow: -15px 50px 50px rgba(0, 0, 0, .5);
    background-image: linear-gradient(to right, crimson, #f76691);
    color: white;
}

.container-1 .box:before,
.container-2 .box:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.2);
    pointer-events: none;
}

.titlu-albume
{
    text-align: center;
    color: crimson;
    font-weight: 600;
}

/* -- sectiunea DESPRE -- */

.about {
    position: relative;
    float: right;
    background: black;
    font-family: 'Solway', serif;
}

.about-title h2 {
    color: white;
}

.col-sm-6 h3, p {
    color: white;
}

/*-- SECTIUNEA DESPRE --*/

.container-about .row {
    width: 90%;
    padding-left: 160px;
    padding-top: 130px;
    padding-bottom: 100px;
}

.col-sm-4 .card {
    width: 80%;
    background: rgb(43, 41, 41);
    padding-bottom: 30px;
}

.card-img-top {
    width: 200px;
}

.card-block .card-title{
    color: crimson;
    font-weight: 800;
    padding: 15px;
    width: 90%;
    display: inline-block;
}

.card-block .card-text {
    text-align: center;
    color: white;
}

.card-block p{
    color: black;
    font-size: 20px;
}

.poza-trupa {
    width: 350px;
    margin-top: 50px;
}

.container-fluid .row {
    display: flex;
}


.container-fluid .row h2 {
    font-weight: bolder;
    font-size: 45px;
    margin-top: 170px;
    background: crimson;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid .row h3 {
    margin-top: 70px;
    background: crimson;
    padding-left: 30px;
    margin-top: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-- sectiunea CONTACT - ECHIPA NOASTRA --*/
.team-section {
    overflow: hidden;
    text-align: center;
    background: crimson;
    padding: 60px;
}

.team-section h2 {
    margin-bottom: 60px;
    color: whitesmoke;
    font-family: 'Solway', serif;
    font-weight: bolder;
    font-size: 45px;
}

.team-section .poza-contact {
    width: 300px;
}

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 5px;
    background: whitesmoke;
    margin-bottom: 40px;
}

.ps {
    margin-bottom: 40px;
}

.ps a {
    display: inline-block;
    margin: 0 30px;
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img {
    width: 100%;
    filter: grayscale(100%);
}

.ps a:hover > img {
    filter: none;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;

}

.section:target {
    height: auto;
}

.name {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 900;
}

.section p {
    font-family: 'Solway', serif;
}